<!DOCTYPE html>
<html>
   <head>
      <title>CLUB SPOPNSOR</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/login.css" rel="stylesheet">


      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
   <div class="container">
  	<div class="row clearfix">
  		<div class="col-md-12 column">

        <div class="bg-white">

          <nav class="navbar navbar-primary">
            <!-- 标题 -->
            <div class="page-header">
              <h1>CLUB SPONSOR <small>Oxygen</small></h1>
            </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- 导航 -->
            <div id="header-navbar-collapse" class="collapse navbar-collapse">
              <div class=" navbar-right">
                <ul class="nav navbar-nav">
                <!-- 以后对面URL写成这样，/代表web主路径，访问对应url视图对应函数渲染过后的html，而不是直接访问html文件 -->>
                  <li class=""><a href="/home">Home</a></li>
                  <li class=""><a href="/library">Library</a></li>
                  <li class="active"><a href="/login">Login</a></li>
                </ul>
              </div>
            </div><!-- /.navbar-collapse -->

            <h1>注册成功</h1>

          


        <!-- 页脚 -->
        <div class="footer">
          <a href="#">oxygen工作室出品</a>
        </div>
  		</div>
  	</div>
   </div>
   <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
   <script src="https://code.jquery.com/jquery.js"></script>
   <!-- 包括所有已编译的插件 -->
   <script src="../js/bootstrap.min.js"></script>
   </body>
 </html>